# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native artifacts
*.ipa
*.apk
*.aab
*.app
*.dSYM.zip

# EAS
.eas/
build-*.ipa
build-*.apk

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders (Keep if you are in Bare Workflow, otherwise ignore)
# /ios
# /android
